body,html{
	margin: 0;
	min-width:42vh;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: #fff;
}


.home-page{
	background:url(http://rent.assets.rentpathcdn.com/assets/32f4b05b6103f2e27a628bcae96d66c0.png);
	height: 973px;
	width: 100%;
	background-position: center center;
	background-size: 1900px;
	position: relative;
	text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.center-collapse .nav-link
{
	text-align: center;
}

*{
	margin: 0px;
	padding: 0px;
}
*
{
	outline: none;
}

.btn-style{
	background: #ffffff;
	height: 45px;
	width: 50px;
	border: 0;

}
#search-input {
	margin-left: auto;
	margin-right: auto;
	max-width: 580px;
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 17px;
	height: 50px;
	background: #f1f1f1;
	border: 2px solid grey;
	border-right: none;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	outline: none;
  }


  /* Style the submit button */
 .search-button {
	position: relative;
	right: 4px;
	width: 10%;
	height: 50px;
	background:#f1f1f1;
	color: black;
	font-size: 17px;
	border: 2px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
	outline: none;
  }
  
.start-button{
	background:#f1f1f1;
	color: black;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
	border: 2px solid grey;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
}
button:hover {
	background:#35ed8f;
  }

button:focus{
	outline: none;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 
				 0px 8px 13px black,
				 0px 18px 23px black;
}

h1, h3{
	color: white;
}

h1{
	
	font-weight:600;
	font-size: 45px;

}

h3
{
	font-size: 22px;
	font-weight: 500;
}

.container{
	top: 50%;
	left: 50%;
	text-align: center;
}



@media (max-width: 300px) {
    h1 { font-size: 15px; }
}

@media (min-width: 500px) {
    h1 { font-size: 25px; }
}

@media (min-width: 700px) {
    h1 { font-size: 30px; }
}

@media (min-width: 1200px) {
    h1 { font-size: 45px; }
}


.h3-section{
	font-size: 22px;
	font-weight: 500;
	color: black;
}
.pd--20{
	padding: 20px;
}
.pd--80{
	padding: 80px;
}
.pd--10{
	padding-top: 30px;
	padding-bottom: 0px;
}
.h2-section
{
	font-size: 30px;
	font-weight: 600;
	color: black;
	padding-bottom: 30px;
	background: linear-gradient(135deg, rgba(16,0,64,0.8) 30%, rgba(151,27,30,0.7));
    -webkit-background-clip: text;
    color: #fff;
    -webkit-text-fill-color: transparent;
}
.content{
	margin: 0 auto;
    width: 960px;
    position: relative;
	z-index: 1;
	width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
	padding: 40px 0;
    text-align: center;
    position: relative;
}

.card{
	border: none;
}
.no-pad {
    padding: 0;
}


/*WRAPPER*/
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	width:100%;
	height:100%;
	column-gap: 30px;
	text-align: center;
	row-gap: 30px;

  }
  * {box-sizing: border-box;}
  
 
  .text-images{
	display: flex;
	justify-content: center;
    align-items: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 400;
	text-shadow: 1px 2px rgba(0,0,0,0.5);
}
  /*IMAGES FOR CITIES*/
 .one-cities{
	  background-image: url(Images/cdmx.jpg);
	  background-color: rgba(17, 5, 56, 0.356);
	  background-blend-mode: multiply;
	  background-size: cover;
	  background-position: center;
	  border-radius: 5px;
  }
  .two-cities{
	background-image: url(Images/Guadalajara.jpg);
	background-color: rgba(17, 5, 56, 0.356);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}
.three-cities{
	background-image: url(Images/leon.jpg);
	background-color: rgba(17, 5, 56, 0.226);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}

/* DIV FOR BANNERS */
.container-banner-horizontal{
	padding: 0!important;
}
.banner-billboard {
    margin: 10px 0 0;
}
.banner-billboard, .banner-leaderboard {
    width: 100%;
    display: block;
    position: relative;
    overflow-x: hidden;
    text-align: center;
}

/*COLOR AND POINTER FOR IMAGES TEXT*/
a{
	color: #fff;
	background-color: transparent;
}
a:hover{
	color: #bcbdbd;
	text-decoration-line: none;
}

a:not([href]):not([tabindex]) {
	color: rgba(199, 186, 186, 0.904);
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #bcbdbd;
    text-decoration: none;
}


/*BACKGROUND FOR CITY IMAGES*/
.items-city .item-city.bg-images{
background-color: rgba(17, 5, 56, 0.356);
background-blend-mode: multiply;
background-size: cover;
background-position: center;
}
/*SCROLLING ITEMS CITIES*/
.items-city{
	display: flex;
	overflow-x: auto;
	margin-left: -8px;
}
.items-city .item-city{
	min-width:350px;
	max-width: 20%;
	height: 200px;
	background: #ddd;
	margin: 13px;
	border-radius: 5px;
	flex: 0 0 20%;
}

.items-city .one-city{
	background-image: url(Images/cdmx.jpg);
}
.items-city .two-city{
	background-image: url(Images/Guadalajara.jpg);
}
.items-city .three-city{
	background-image: url(Images/leon.jpg);
}

/*BACKGROUND FOR UNI IMAGES*/
.items-uni .item-uni.bg-images{
	background-color: rgba(17, 5, 56, 0.356);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	}

/*SCROLLING ITEMS UNIVERSITY*/
.items-uni{
	display: flex;
	overflow-x: auto;
	margin-left: -8px;
}
.items-uni .item-uni{
	min-width:150px;
	max-width: 20%;
	height: 200px;
	background: #ddd;
	margin: 10px;
	border-radius: 5px;
	flex: 0 0 20%;
	
}

.items-uni .one-uni{
	background-image: url(Images/Universities/unam.png);
}
.items-uni .two-uni{
	background-image: url(Images/Universities/anahuac.jpg);

}
.items-uni .three-uni{
	background-image: url(Images/Universities/lasalle.jpg);

}
.items-uni .four-uni{
	background-image: url(Images/Universities/uam.jpg);

}
.items-uni .five-uni{
	background-image: url(Images/Universities/uvm.jpg);

}
.items-uni .six-uni{
	background-image: url(Images/Universities/ibero.jpg);

}
.items-uni .seven-uni{
	background-image: url(Images/Universities/ipn.jpg);

}
.items-uni .eight-uni{
	background-image: url(Images/Universities/itam.jpg);

}

/*BACKGROUND FOR COMPANIES IMAGES*/
.items-com .item-com.bg-images{
	background-color: rgba(17, 5, 56, 0.356);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	}

/*SCROLLING ITEMS COMPANIES*/
.items-com{
	display: flex;
	overflow-x: auto;
	margin-left: -8px;
}
.items-com .item-com{
	min-width:150px;
	max-width: 20%;
	height: 200px;
	background: #ddd;
	margin: 10px;
	border-radius: 5px;
	flex: 0 0 20%;
	
}

.items-com .one-com{
	background-image: url(Images/Companies/softtek.jpg);
}
.items-com .two-com{
	background-image: url(Images/Companies/kpmg.jpg);

}
.items-com .three-com{
	background-image: url(Images/Companies/IBM.gif);

}
.items-com .four-com{
	background-image: url(Images/Companies/microsoft.jpg);

}
.items-com .five-com{
	background-image: url(Images/Companies/BBVA.jpg);

}
.items-com .six-com{
	background-image: url(Images/Companies/Deloitte.jpg);

}
.items-com .seven-com{
	background-image: url(Images/Companies/accenture.jpg);

}
.items-com .eight-com{
	background-image: url(Images/Companies/colgate.jpg);

}

.bg-alternate{
background-color: #f9fafc;
}
.bg-footer{
	background-color: #35ed8f;
}
.font-text{
	color:#333;
	font-size: 20px;
}


/*MAPS PAGE
/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////
*/

.bg-maps{
	background-color: #35ed8f;
}
#search-input-maps {
	margin-left: 20px;
	margin-right: auto;
	max-width: 700px;
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 17px;
	height: 50px;
	background: #f1f1f1;
	border: 2px solid grey;
	border-right: none;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	outline: none;
  }

  .info-header {
    position: relative;
    width: 100%;
    height: 10px;
}
.container-main-filters {
    position: fixed;
    width: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    z-index: 16;
}
	/*Slider*/
.p-slider{
	margin-top:70px;
	opacity: 0.7;
	font-size: 2rem;
	padding-left: 12%;
}


.sliderContainer
{
	widows: 75%;
	margin-top: 200px;
}

.price-bar{
	padding-left: 0;
	padding-right: 0;
	font-weight: 600;
}
.header-filter{
	text-align: center;
    line-height: 12px;
    border-bottom: 0;
    margin-top: 12px;
    margin-bottom: 33px;
}
.text-filter{
	font-size: 18px;
	font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    padding-left: 10px;
}

.text-right{
	text-align: right;
}
.text-left {
    text-align: left;
}
.bar-position{
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


#slider{
	width: 100%;
	height: 12px;
	background:white;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	box-shadow: 0px 1px 10px 1px #35ed8f;
	border-radius: 12px;
}

 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-defaul{
	border-radius: 12px;
	background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3/*{borderColorDefault}*/;
    background: white !important /*{bgColorDefault};url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}; 50%/*{bgDefaultXPos}; 50%/*{bgDefaultYPos};repeat-x/*{bgDefaultRepeat};;;;;;;;;; */;

}


div.ui-slider-range.ui-widget-header {
    background:#35ed8f;
}

#slider:hover{
	opacity: 1;
}
/* .slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}
.slider::-moz-range-thumb{
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
} */